@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sevillana&display=swap');

:root{
    --font: "Merriweather", serif;
}

.main__medicine {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 140px; 
    box-sizing: border-box;
}

.containerMed {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px; 
    height: auto; 
    box-sizing: border-box;
}


.createMedicineForm{
    display: flex;
    flex-direction: column;
}

.createMedicineForm label { 
    font-family: var(--font);
    font-weight: lighter;
    font-size: 15px;
    margin-left: 0;
    text-align: center;
}

.createMedicineForm input[type='text'],
.createMedicineForm textarea{
    width: 100%;
    height: 60px;
    max-width: 430px;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid var(--color);
    border-radius: 5px;
    font-family: var(--font);
}


.tileForm p {
    font-size: 15px;
    font-weight: lighter;
    margin-top: 10px;
    color: var(--color);
}

/*

FORMATO PARA EL FORMULARIO DE CONTACTO DE EMERGENCIA

*/

.form-emergency{
    display: flex;
    flex-direction: column;
}

.form-emergency label { 
    font-family: var(--font);
    font-weight: lighter;
    font-size: 15px;
    margin-left: 0;
    text-align: center;
}

.form-emergency input[type='text']{
    width: 100%;
    height: 60px;
    max-width: 430px;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid var(--color);
    border-radius: 5px;
    font-family: var(--font);
}
