@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sevillana&display=swap');

:root{
    --font: "Merriweather", serif;
}

.main__emergency, .main__appointment {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 140px; 
    box-sizing: border-box;
}

.containerAp {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px; 
    height: auto; 
    box-sizing: border-box;
}

.containerEm {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px; 
    height: auto; 
    box-sizing: border-box;
}


.tileForm {
    color: #555;
    margin-bottom: 20px;
    font-family: var(--font);
}

.tileForm p {
    font-size: 15px;
    font-weight: lighter;
}

form h2 {
    font-family: var(--font);
    font-weight: lighter;
    font-size: 15px;
    margin-left: 0;
    text-align: center;
}

label {
    display: block; 
    font-size: 14px;
    margin-top: 10px; 
    text-align: left;
}

.input-nombre, .input-gender, .input-email, .input-date, .input-direccion, .input-comentsAdic, .fechaCita, .horaCita, .motivoCita, .medicoCita {
    width: 100%; 
    padding: 10px;
    margin-top: 8px;
    margin-left: 0%; 
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-family: var(--font);
}

.input-comentsAdic {
    padding: 20px; 
}

.direccion p, .email p {
    margin-left: 25%;
    font-family: var(--font);
    font-weight: lighter;
    font-size: 12px;
    margin-top: 1%;
    color: rgba(63, 62, 62, 0.945);
}

.botonEnviar {
    width: 100%;
    padding: 10px;
    background-color: #6e8efb;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-family: var(--font);
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.botonEnviar:hover {
    background-color: #5a78d7;
}
