@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sevillana&display=swap');

:root{
    --font: "Merriweather", serif;
}


.main__emergency{
    padding: 10%;
}

.main__appointment{
    margin-top: 10%;
}

.container{
    background-image: url(../../assets/img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(184, 184, 184, 0.247); /* Color de fondo semitransparente */
    width: 50%;
    margin-left: 25%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
}


.tileForm{
    color: #555;
    font-family: var(--font);
    font-size: 25px;
    margin-bottom: 20px;
}

.tileForm p{
    font-size: 15px;
    font-weight: lighter;
    font-family: var(--font);
}

form h2{
    font-family: var(--font);
    font-weight: lighter;
    font-size: 15px;
    margin-top: 10px;
}


.label{
    font-size: 14px;
    display: block;
    margin-top: 15px;
    color: #666;
    font-family: var(--font);
}


.input-nombre, .input-gender, .input-email, .input-date, .input-direccion, .input-comentsAdic{
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: var(--font);
    outline: none;
}

.input-date{
    color: grey;
}


.input-comentsAdic{
    padding: 50px;
}


.botonEnviar{
    width: 100%;
    padding: 10px;
    background-color: #6e8efb;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-family: var(--font);
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.botonEnviar:hover{
    background-color: #45a049;
    transform: scale(1.1);
}


.direccion, .email{
    font-family: var(--font);
    font-size: 12px;
    margin-top: 1%;
    color: rgba(63, 62, 62, 0.945);
}

.direccion p, .email p{
    margin-left: 25%;
}