@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sevillana&display=swap');

:root {
    --font: "Merriweather", serif;
}

.main-medicine {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/img/background.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    width: 50%;
    height: auto;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.tileForm {
    color: #555;
    font-family: var(--font);
    font-size: 25px;
    text-align: center;
    margin-bottom: 5%;
    padding: 0;
}

.tileForm p {
    font-size: 15px;
    font-weight: lighter;
    color: #666;
}

form h2 {
    font-family: var(--font);
    font-weight: lighter;
    font-size: 15px;
    margin-left: 25%;
}


.input-nombre, .input-descripcion, .input-precio, .input-cantidad {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: var(--font);
    outline: none;
}

.botonEnviar {
    width: 100%;
    padding: 10px;
    background-color: #6e8efb;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-family: var(--font);
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botonEnviar:hover {
    background-color: #4c75e5;
}
