@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sevillana&display=swap');


:root{
    --font: "Merriweather", serif;
}

.main-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.7);
    min-height: 100vh;
}

.components {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: auto;
    width: 100%;
}

.components h1 {
    font-size: 5.4rem;
    color: #ebeff0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin-left: 20%;
}

.components p {
    font-size: 1.5rem;
    color: #ebeff0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-left: 28%;
}

.cards {
    width: 100%;
    padding: 2rem 1rem;
    font-family: var(--font);
    
}


.containers {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}


.box {
    background-color: #074e728f;
    color: white;
    padding: 1.5rem;
    flex: 1 1 calc(33.333% - 40px); 
    max-width: 300px;
    height: 350px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}


.box h2 {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}


.box p {
    font-size: 15px;
    line-height: 1.6;
    padding: 0.5rem;
}


.box:hover {
    background-color: #0d8ecfa9;
    transform: scale(1.1);
}



