.main-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    background-image: url(../../assets/img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.7);
    min-height: 100vh;
}

.components {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: auto;
    width: 100%;
}

.components h1 {
    font-size: 5.4rem;
    color: #ebeff0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin-left: 20%;
}

.components p {
    font-size: 1.5rem;
    color: #ebeff0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-left: 28%;
}

.cards {
    width: 100%;
    padding: 2rem;
}

.containers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
}

.box {
    background-color: #074e728f;
    color: white;
    padding: 2rem;
    flex: 1;
    height: 280px;
    min-width: 200px; 
    max-width: 300px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.384);
    cursor: pointer;
    font-family: 'arial';
}
.box h2{
    font-size: 30px;
    border: 1px solid  #ffffff2f;
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 15px;
    border: none;
    padding: 2%;
}
.box:hover{
    background-color:  #0d8ecfa9;
    transition: transform 0.8s ease; 
    transform: scale(1.1); 
}



